/* ================= GENERAL ================= */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f6f9;
  display: flex;
  height: 100vh;
  color: #333;
}

/* ================= SIDEBAR ================= */
.sidebar {
  width: 240px;
  background: #2d3436;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  position: fixed;
}

.sidebar h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 12px 0;
}

.sidebar ul li a {
  color: #dfe6e9;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  display: block;
  border-radius: 6px;
  transition: 0.2s;
}

.sidebar ul li a:hover {
  background: #636e72;
}

/* ================= CONTENIDO ================= */
.content {
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 260px);
}

/* ========*
